.container-fluid

  %a(href='http://v4-alpha.getbootstrap.com/layout/overview' target='x')
    http://v4-alpha.getbootstrap.com/layout/overview

  %p
    The above URL offers some useful discussion about Bootstrap, Containers, Breakpoints,
    Sass, and media queries.

  %h1 Containers

  %p
    Containers are the most basic layout element in Bootstrap and are required when using our grid system.
  %p
    Use .container-fluid for a full width container, spanning the entire width of the viewport.

  %p
    Bootstrap primarily uses the following media query ranges—or breakpoints—in our source Sass files for our layout, grid system, and components.

  %pre
    =render 'index10'

  %p
    Since we write our source CSS in Sass, all our media queries are available via Sass mixins:

  %pre
    =render 'index11'

  %p
    We occasionally use media queries that go in the other direction (the given screen size or smaller):

  %pre
    =render 'index12'

  %p
    Once again, these media queries are also available via Sass mixins:

  %pre
    =render 'index13'

  %hr/

  %h1 Examples

  %p
    Quickly get a project started with any of our examples ranging from using parts of the framework to custom components and layouts. 







  %hr/
